-# hero
%section.inverse-section.home-hero
	.container
		.row
			.col-lg-12.text-center
				%h1
					Access over <strong>8,000</strong> marketing records
				.row
					.col-sm-3
					.col-sm-6
						%p.margin-bottom
							= lorem.sentences 5
					.col-sm-3

				%a.btn.btn-wire.btn-strech{:href=>"#"}
					Contact Sales

-# partners
.container
	.row
		.col-sm-12
			%img.full-width{:src=>"../images/partners.png"}

-# how it works
%section
	.container
		.row
			%h6.text-uppercase.primary-text-color.bold-font-name.text-center
				The Missing Link
		.row.text-center
			%h3
				How Everleads works

		.row.double-padding-top.flex
			.col-md-1
			.col-md-5
				%img.img-responsive.half-padding-top{:src=>"../images/home-request-the-data.png"}
				%h5.bold-font-name.double-padding-top
					Request The Data
				%p.eq
					= lorem.sentences 3
			.col-md-5
				%img.img-responsive{:src=>"../images/home-access-the-data.png"}
				%h5.bold-font-name.double-padding-top
					Access The Data
				%p.eq
					= lorem.sentences 3
			.col-md-1

		.row.margin-top
			.col-sm-1
			.col-sm-10
				%hr
			.col-sm-1

		.row.double-padding-top
			.col-md-1
			.col-md-5
				%h5.bold-font-name
					Enjoy!
				%p
					= lorem.sentences 3
				%ul.pricing-link
					%li.underline
						%a{:href=>"#"}
							See the pricing
					%li.half-padding-left
						%a trending_flat
			.col-md-5
				%img.img-responsive{:src=>"../images/home-enjoy.png"}
			.col-md-1

-# marketing guru
%section.light-blue-band
	.container.margin-top
		.row
			%h6.text-uppercase.primary-text-color.bold-font-name.text-center
				Fully Loaded
		.row.text-center
			%h3
				All the features you need to be a marketing guru

		.row.double-margin-top
			.col-lg-12.text-center
				%img.responsive{:src=>"../images/home-marketing-guru.png"}

		.row.double-margin-top
			.col-md-4
				%img.float-left{:src=>"../images/home-custom-login.png"}
				%h5.bold-font-name
					Custom Login
				%p
					= lorem.sentences 2
			.col-md-4
				%img.float-left{:src=>"../images/home-247-access.png"}
				%h5.bold-font-name
					24 / 7 access
				%p
					= lorem.sentences 2
			.col-md-4
				%img.float-left{:src=>"../images/home-real-time-data.png"}
				%h5.bold-font-name
					Real time data
				%p
					= lorem.sentences 2

		.row.margin-top.double-margin-bottom.text-center
			%a.btn.btn-primary.btn-shadow.margin-top{:href=>"#"}
				Explore the features

%section
	.container.margin-top
		.row
			%h6.text-uppercase.primary-text-color.bold-font-name.text-center
				Don't Take Our Word For It
		.row.text-center
			%h3
				We've helped a lot of people

		.row.center-block
			.col-sm-1
			.col-sm-10
				.call-out-card.text-center.margin-top
					%h1.pink-num-call-out.padding-top.callout-text-sm
						123,000 +
					%h4.padding-bottom
						Monthly users
			.col-sm-1
		.row.double-margin-top
			.col-sm-1
			.col-sm-4
				%img.img-responsive{:src=>"../images/nyt-logo.png"}
			.col-sm-6
				%blockquote.blockquote
					%p.quote-text
						Everleads helped me do things I could have never done without them. It was easy to get started and  I’ve made tons of money since I’ve started using the service
				%cite.cite
					John Importantguy, CEO of BIG DATA GROUP, LLC
			.col-sm-1

%section.inverse-section.bg-cover.home-footer-bg
	.container
		.row.text-center.navy-layer
			%img{:src=>"../images/everlead-lightbulb.png"}
		.row
			%h6.text-uppercase.bold-font-name.text-center.half-padding-top
				Ready To Get Started
		.row.text-center
			%h3
				You’re going to be amazing
		.row.text-center.margin-bottom
			%a.btn.btn-primary.btn-shadow.btn-strech.margin-top{:href=>"#"}
				Contact sales
